*, *::before, *::after {
	box-sizing: border-box; /*So it's easier to size*/
	font-family: Arial, sans-serif;
	font-weight: normal;
}

body {
	padding: 0;
	margin: 0;
	background: linear-gradient(to left, yellow, red);
}
.calc-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4,100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background-color: rgba(255, 255, 255, .75);
}
.calc-grid > button:hover {
	background-color: rgba(255, 255, 255, .9);

}
.span-2 {
	grid-column: span 2;

}
.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, .75);
}